.wrapper {
    height: auto;
    margin: 45px auto;
    overflow-x: hidden;
    position: relative;
}

.wrapper button.location {
    width: 250px;
    border: 2px solid rgb(48, 48, 48);
    color: #fff;
    font-weight: 600;
    border-radius: 22px;
    display: flex;
}



.wrapper .content {
    margin: 10px 0px;
    position: relative;
}




@media (max-width: 1000px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        /* overflow-x: hidden; */
    }
}


@media (max-width: 767px) {
    .container_item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
